[submodule "docker_build/docker/magic/magic"]
	path = docker_build/docker/magic/magic
	url = git://opencircuitdesign.com/magic
[submodule "docker_build/docker/yosys/yosys"]
	path = docker_build/docker/yosys/yosys
	url = https://github.com/YosysHQ/yosys
[submodule "docker_build/docker/netgen/netgen"]
	path = docker_build/docker/netgen/netgen
	url = git://opencircuitdesign.com/netgen
[submodule "docker_build/docker/openroad_app/OpenROAD"]
	path = docker_build/docker/openroad_app/OpenROAD
	url = https://github.com/The-OpenROAD-Project/OpenROAD.git
